*.jpg
*.tar
.env
zones_by_iteration
dataset*
.venv

__pycache__
idea
venv
output
*rois*
*discovery
workspace
project_output
masks
tapes
.DS_Store

output*

yolo11dataset
yolo11dataset_grouped

branch_wrong_orientation
branchdataset